---
layout: default
---
%section#hero.melbourne
  %h1.boom
    Melbourne LevelUp Information Night
    .fa.fa-rocket
    .light
      %em Tuesday 24th June 2014

#registration

  %section#about
    .about-content

      %h3
        24th June 2014 @ 7pm at
        %a{href: "http://www.thoughtworks.com/contact-us"} ThoughtWorks Melbourne

      %p.description
        LevelUp is a series of classes, workshops and conferences for students who want to add real-world experience to their classroom learning. If this sounds interesting to you, we would love to meet you at our LevelUp Information Night on Tuesday 24th June 2014 @ 7pm, snacks will be provided. We will give an overview of the LevelUp program and answer any questions you may have. You will also get to hear from some of our previous students who will be able to share their past experiences and insights with you. On the night you will also be able to register your interest for the next LevelUp course.
      %p.description
        The session will run for approximately 1 hour.

  %section#faq
    %h2 General Information

    .border-line

    .questions
      .question
        Who is this for?
      .answer
        LevelUp is for students approaching the end of their course who are seeking to have an insight into real software delivery projects.

      .question
        What am I going to learn?
      .answer
        This course is designed to bridge the gap between university and your first full time job.
        You'll experience real world
        %a{:href => "http://en.wikipedia.org/wiki/Agile_software_development"} Agile software development
        first-hand. You'll learn all about inceptions, standups, story writing, continuous delivery, test automation, pairing, test-driven development, retrospectives and more.

      .question
        How?

      .answer
        When you start the course you will meet your team and product owner. From then on you will work with your team to deliver working software. The LevelUp team will offer guidance and hands-on support to help you get your product across the line. Make no mistake though, it's you who will be getting the job done!
      
      .question
        Where?
      .answer
        LevelUp will be held in the Melbourne ThoughtWorks Office on Level 23, 303 Collins Street Melbourne.

      .question
        What are the different roles?
      .answer
        Everyone is going to be involved in design, taking ownership, overall quality. You will have to collaborate on
        %strong all
        aspects of the project to ensure kick-ass software!

        %ul#selector
          %li Business analysts work closely with product owners to capture requirements and figure out the details.
          %li Developers build the software.
          %li Testers help ensure the overall quality of the product, and provide feedback to developers and business analysts.
          %li Experience designers champion the end-to-end experience of using the product, and broadly coach the team's design decisions based on feedback gained from interviews with potential users.

      .question Am I guaranteed a spot if I register?
      .answer To make this the best experience we can, we need cross functional teams with the right combination of people in each role (developer, business analyst and tester). Whilst the LevelUp team would love to accept everyone, places are limited.
