---
layout: default
---
%section#hero.melbourne
  %h1.boom
    Melbourne LevelUp Build
    .fa.fa-rocket

#registration

  %section#about
    .about-content

      %p.description
        LevelUp is a series of classes, workshops and conferences for students who want to add real-world experience to their classroom learning.

  %section#faq
    %h2 General Information

    .border-line

    .questions
      .question
        Who is this for?
      .answer
        LevelUp is for students approaching the end of their course who are seeking to have an insight into real software delivery projects.

      .question
        What am I going to learn?
      .answer
        This course is designed to bridge the gap between university and your first full time job.
        You'll experience real world
        %a{:href => "http://en.wikipedia.org/wiki/Agile_software_development"} Agile software development
        first-hand. You'll learn all about inceptions, standups, story writing, continuous delivery, test automation, pairing, test-driven development, retrospectives and more.

      .question
        How?

      .answer
        When you start the course you will meet your team and product owner. From then on you will work with your team to deliver working software. The LevelUp team will offer guidance and hands-on support to help you get your product across the line. Make no mistake though, it's you who will be getting the job done!

      .question
        Where?
      .answer
        LevelUp will be held in the Melbourne ThoughtWorks Office on Level 23, 303 Collins Street Melbourne.

      .question
        When will the LevelUp course be held?
      .answer
        Kickoff day is on Saturday the 14th of March and is filled with games, workshops and group work. Then we'll meet weekly from the 17th of March, every
        %strong Tuesday night
        from 6pm till 9pm, for 7 weeks (with a week off for Easter). There's a special day set aside on Saturday the 9th of May for your team's final showcase and the graduation ceremony.

      .question
        What are the different roles?
      .answer
        Everyone is going to be involved in design, taking ownership and the overall quality of the project. You will have to collaborate on
        %strong all
        aspects of the project to ensure kick-ass software!

        %ul#selector
          %li Analysts work closely with product owners to capture requirements and figure out the details.
          %li Developers build the software.

      .question
        Is this an internship?
      .answer
        LevelUp events are not internships, but you will receive a certificate to show that you've taken part.

      .question Am I guaranteed a spot if I register?
      .answer To make this the best experience we can, we need cross functional teams with the right combination of people in each role (developer, business analyst and tester). Whilst the LevelUp team would love to accept everyone, places are limited.

      .question
        How do I register?
      .answer
        Registrations have now closed. Everyone who registered will be notified if they have been accepted shortly.

  %section#register
    %h2 Register Your Interest
    .border-line
    %h3 Registrations closed at 5pm on Tuesday 3rd March 2015.
    Everyone who registered will be notified if they have been accepted shortly.
