---
  layout: default
---
%section#hero.sydney
  %h1.boom
    LevelUp Build 2015 - Sydney

%section#call-out
  .call-to-action
    .group
      .label
        %i.fa.fa-clock-o
        Kickoff day
      %p SAT 11 APR 2015 &nbsp; 10AM - 5PM
    .group
      .label
        %i.fa.fa-clock-o
        Class start
      %p
        Every Tue starting
        %br
        TUE 14 APR 2015 &nbsp; 6PM - 9PM
    .group
      .label
        %i.fa.fa-clock-o
        Final Showcase
      %p TUE 2 JUN 2015
    .group
      .label
        %i.fa.fa-map-marker
        Location
      %p
        %a{href: "https://www.google.com.au/maps/place/ThoughtWorks+Sydney/@-33.863001,151.208787,17z/data=!3m1!4b1!4m2!3m1!1s0x6b12ae42229e02a9:0x339b7ae0de393bb1", target: "_blank"} ThoughtWorks Sydney
    %p Registrations have closed
  .outcome
    %h2 What it's all about
    %p.description
      Whether you're a developer, designer or business analyst you'll get to experience hands on software development in an agile cross functional team. Throughout the course you'll receive intensive coaching from people who live and breathe software development.
    %p
      %a{href: "#faq"} Find out more

#registration
  %section#faq
    %h2 Course Information
    .border-line
    .questions
      .question
        What is LevelUp Build?
      .answer
        LevelUp Build is an
        %u 8 week
        program designed to prepare you for your first full time job in the tech industry.

      .question
        Cost
      .answer
        %u FREE!
        LevelUp is free for participants.

      .question
        Audience
      .answer
        LevelUp is aimed towards people who are seeking industry experience in development, business analysis or experience design in agile teams, and are:
        %ul#selector
          %li students approaching the end of their course
          %li people who are self taught
          %li people who are changing career

      .question
        Some of the topics covered
      .answer
        %ul#selector
          %li Agile Software Development
          %li Working in Cross Functional Teams
          %li Collaborative Design
          %li Continuous Delivery (CD)
          %li Continuous Integration (CI)
          %li Test Driven Development (TDD)
          %li Test Automation

      .question
        Prerequisites
      .answer
        All participants are expected to be available to attend all sessions. Please see session dates below.
        .br
        Role specific prerequisites include:
        %ul#selector
          %li Developers: You must be able to program in one language. If you've never done any programming before, please consider the other roles.
          %li Business Analysts: Good analytical and communication skills
          %li Experience designers: A background in usability or interface design

      .question
        What you should bring
      .answer
        All developers
        %u are expected to bring a laptop.
        %br
        For other roles, a laptop is not essential but is useful. It is important to note that other people may have access to your laptop, but not without supervision.

      .question
        Where
      .answer
        ThoughtWorks Sydney, Level 8, 51 Pitt Street, Sydney NSW 2000

      .question
        When
      .answer
        %ul#selector
          %li Kickoff day: 11th of April, 10am - 5pm
          %li Sessions: Every Tuesday evening from 6pm until 9pm starting on the 14th of April, for 8 weeks. Final showcase will be on Tuesday 2nd of June.

      .question
        Am I guaranteed a spot if I register?
      .answer
        To make this the best experience we can, we need cross functional teams with the right combination of people in each role (developer, business analyst, and experience designer). Whilst the LevelUp team would love to accept everyone, places are limited.
        %u All applicants will be notified after registration closes.

    %section#register
    %h2 Register Your Interest
    .border-line 
    %h3 Registrations closed on Monday 6th April 11.59PM.
    Everyone who registered will be notified if they have been accepted shortly.
