---
  layout: default
---
%section#hero.sydney
  %h1.boom
    LevelUp Build - Sydney 2015

%section#reading-list
  %h2 Reading and Resources

  .border-line

  .location
    .left
      %h2 Agile
    .right
      .event
        %h3.title User Stories Applied: For Agile Software Development
        .description
          %a{href: "http://www.amazon.com/User-Stories-Applied-Software-Development/dp/0321205685", target: "_blank"} Buy from Amazon
  .location
    .left
      %h2 Git
    .right
      .event
        %h3.title GitHub Interactive Guide To Git
        .description
          %a{href: "https://try.github.io/levels/1/challenges/1", target: "_blank"} Free online tutorial
      .event
        %h3.title Git Real
        .description
          %a{href: "https://www.codeschool.com/courses/git-real", target: "_blank"} Free online tutorial
  .location
    .left
      %h2 Backbone.js
    .right
      .event
        %h3.title Developing Backbone.js Applications
        .description
          %a{href: "http://addyosmani.github.io/backbone-fundamentals/", target: "_blank"} Free online textbook
  .location
    .left
      %h2 Experience Design
    .right
      .event
        %h3.title Agile Experience Design
        .description
          %a{href: "http://www.amazon.com/Agile-Experience-Design-Designers-Continuous/dp/0321804813", target: "_blank"} Buy from Amazon
  .location
    .left
      %h2 Continuous Integration
    .right
      .event
        %h3.title Martin Fowler on CI
        .description
          %a{href: "http://martinfowler.com/articles/continuousIntegration.html", target: "_blank"} Blog: Martin Fowler
      .event
        %h3.title Continuous Integration: Improving Software Quality and Reducing Risk
        .description
          %a{href: "http://www.amazon.com/Continuous-Integration-Improving-Software-Reducing/dp/0321336380", target: "_blank"} Buy from Amazon
  .location
    .left
      %h2 Test-Driven Development
    .right
      .event
        %h3.title Test-Driven Development: By Example
        .description
          %a{href: "http://www.amazon.com/Test-Driven-Development-Kent-Beck/dp/0321146530", target: "_blank"} Buy from Amazon
      .event
        %h3.title Clean Code: A Handbook of Agile Software Craftsmanship
        .description
          %a{href: "http://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882", target: "_blank"} Buy from Amazon
      .event
        %h3.title Growing Object-Oriented Software, Guided By Tests
        .description
          %a{href: "http://www.amazon.com/Growing-Object-Oriented-Software-Guided-Tests/dp/0321503627", target: "_blank"} Buy from Amazon

  .location
    .left
      %h2 Testing
    .right
      .event
        %h3.title Agile Testing: A Practical Guide for Testers and Agile Teams
        .description
          %a{href: "http://www.amazon.com/Agile-Testing-Practical-Guide-Testers/dp/0321534468", target: "_blank"} Buy from Amazon
      .event 
        %h3.title Agile Testing with Lisa Crispin
        .description
          %a{href: "http://lisacrispin.com/", target: "_blank"} Blog: Lisa Crispin

      .event
        %h3.title Lessons Learned in Software Testing
        .description
          %a{href: "http://www.amazon.com/Lessons-Learned-Software-Testing-Context-Driven/dp/0471081124", target: "_blank"} Buy from Amazon