---
layout: default
---


%section#talk
  .border-line
  %h2.title
    .fa.fa-film &nbsp;
    What is functional programming?


  .talk
    .speakerdeck
      %script.speakerdeck-embed{async: "", "data-id" => "cb4208e05c8b01317bd9563746ea3d55", "data-ratio" => "1.33333333333333", src: "//speakerdeck.com/assets/embed.js"}
    %h4.event
      LevelUp EXP 2 Sydney
      %span.date 6 Dec 2013
    %p.description
      A very basic intro to FP that concentrates on two parts: immutability and statelessness, and higher-order functions.

