<section class="agenda">
  <h2>{{ include.title }} Agenda</h2>
  {% for item in include.agenda %}
    <div class='talk'>
      <div class='left'>
        <div class='time'>{{item.time}}</div>
        -# leave alt as an empty string for decorative images
        <img src="../../assets/images/{{ item.img }}" alt=""></img>
      </div>
      <div class="right">
        <h3 class="title">{{item.title}}</h3>
        <div class="description">{{item.description}}</div>
      </div>
    </div>
  {% endfor %}
</section>
