<ul class="event-list">
  {% for event in events reversed %}
    {% if event.active %}
      <li>
        <div class="event-details">
          <div class="event-date">{{ event.date | date: "%a %-d %b , %Y" }}</div>
          {% if event.active %}
            <div class="event-name"><a href="{{ event.url }}">{{ event.event }} {{ event.title }}</a></div>
          {% else %}
            <div class="event-name">{{ event.event }} {{ event.title }}</div>
          {% endif %}
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
