{% if event.active %}
  <div class="event-details active">
    <div class="event-date">{{ event.date | date: "%a %-d %b , %Y" }}</div>
    {% if include.location %}
      <div class="event-location"><a href="{{ event.url }}">{{ event.city }}</a></div>
    {% endif %}
    <div class="event-name"><a href="{{ event.url }}">{{ event.event }} {{ event.title }}</a></div>
  </div>

{% else %}
  <div class="event-details">
    <div class="event-date">{{ event.date | date: "%a %-d %b , %Y" }}</div>
    {% if include.location %}
      <div class="event-location">{{ event.city }}</div>
    {% endif %}
    <div class="event-name">{{ event.event }} {{ event.title }}</div>
  </div>
{% endif %}
