<div class="registration">
  {% case include.state %}
    {% when 'open' %}
      {% comment %}
        using native html5 for better screen reader support
        'a' and 'button' have different native behaviour for keyboard only users as well
        you would have to add jquery to get 'a' to respond to keyboard shortcuts in the same
        way as 'button'
      {% endcomment %}
      <a href="{{ page.registration.url }}" target="_blank">
        <button class="button register-button">
          Count me in!
        </button>
      </a>
      <p>It's free!</p>
    {% when 'pending' %}
      <p><strong>Registrations have not opened yet.</strong></p>
    {% when 'closed' %}
      <p><strong>Registration is now closed.</strong></p>
    {% else %}
  {% endcase %}
</div>
