---
layout: default
---
%section#hero.sydney
  %h1.boom
    Singapore LevelUp EXP

%section#call-out
  .call-to-action
    .group
      .label
        %i.fa.fa-clock-o
        Date
      %p Saturday 11 October 2014 &nbsp;
    .group
      .label
        %i.fa.fa-clock-o
        Time
      %p 10am - 6pm &nbsp;
    .group
      .label
        %i.fa.fa-map-marker
        Location
      %p
        %a{href: "https://goo.gl/maps/3mn71", target: "_blank"} ThoughtWorks Singapore
    %a.button{href: "http://eepurl.com/0_JnD", target: "_blank"}
      %i.fa.fa-child
      Count me in!
    %p It's not for profit, aka FREE
  .outcome
    %p
      %b Bridge the gap between university and your first full time job.
    %p Learn all about Agile software development, as it actually works in the real world, in this fun, hands-on environment. Prepare yourself for the workplace by learning from experienced consultants who do Agile for a living!
    %p LevelUp EXP is also a great way for you to soak up the unique ThoughtWorks culture and network with our consultants. Come armed with all your questions about what life's like for ThoughtWorkers on the ground at client sites.
    %p LevelUp EXP is the inaugural LevelUp event for the ThoughtWorks Singapore office. After much success, in our Sydney, Brisbane, Melbourne and Johannesburg offices, LevelUp is set to take on Singapore! Get a taste of what's to come in 2015 by attending this one-day event.
    %h2 Course Outcome
    %ul
      %li Learn what it takes to deliver what your clients need
      %li Understand the significance of agile 'ceremonies'
      %li Learn how to write a user story
      %li Find out about this thing called 'user experience'
      %li Hands on experience with pair programming
      %li Find out how Agile scales to large enterprises
      %li Learn to love test driven development
      %li Understand how quality assurance works in an agile project

#registration
  %section#faq
    %h2 Course Information

    .border-line

    .questions
      .question
        What am I going to learn?
      .answer
        LevelUp EXP (EXP stands for 'Express') is a one-day conference style event designed to help you bridge the gap between university and your first full time job. You will learn about
        %a{:href => "http://en.wikipedia.org/wiki/Agile_software_development"} Agile software development
        and hopefully we ignite a spark of curiosity in you around some useful concepts like continuous delivery, test automation, pair programming, test-driven development, retrospectives and more!

      .question
        How?

      .answer
        Having lots of fun! Real world consultants become your coaches in this one-day conference, teaching concepts we think you should know through hands-on activities, interactive sessions, discussions and games.

      .question
        When is it?
      .answer
        The 11th of October from 10:00am to 6:00pm - and we stay around for a chat but that is completely up to you.

      .question
        What do I need to bring?
      .answer
        Nothing! Food and drinks will be provided.

      .question
        Am I guaranteed a spot if I register?
      .answer
        While the LevelUp team would love to accept everyone, to keep this awesome experience free for you, places are limited as our physical location is our constraining factor!
        %p
          After you register, keep an eye out from us that will let you know if your spot is confirmed.

:javascript
  $("#role").change(function(){
    if($("#role option:selected").text() === 'Developer'){
      $("#developer-questions").show();
    } else{
      $("#developer-questions").hide();
    }
  });

