$primary-button-color: #f61f62;
$info-button-color: #6dbb6f;
$input-border-color: #ddd;
$link-color: #f61f62;
$disabled-color: #b6b6b6;
$border-line-colour:#f61f62;
$border-secondary-line-colour:#c5c5c5;

$font-weight-normal:300;
$font-weight-normal-heading:400;
$font-weight-bold:600;

@mixin text-style_site-default {
  font-family: 'Open Sans', sans-serif;
  font-weight: $font-weight-normal;
  font-size: 1em;
}

@mixin text-style_page-header {
  text-align: center;
  font-size: 4em;
  letter-spacing: -0.07em;
  line-height: 1em;
  &.tagline {
    font-size: 2.5em;
  }
  @media #{$phone-screen} {
    font-size: 2em;
  }
}

@mixin text-style_page-subheader {
  font-weight: $font-weight-normal-heading;
  font-size: 2em;
}

@mixin text-style_page-aside {
  font-size: 1em;
}

@mixin text-style_section-header {
  font-weight: $font-weight-normal-heading;
  font-size: 2em;
}

@mixin text-style_section-subheader {
  font-size: 1.1em;
  font-weight: $font-weight-bold;
  border-bottom: #F61F62;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 2px;
}

@mixin text-style_section-body {
  line-height: 1.6em;
  font-weight: normal;
  font-size: 1.2em;
}

@mixin text-style_table-header {
  font-size: 1.6em;
  font-weight: $font-weight-normal;
  border-bottom: #F61F62;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 3px;
}

@mixin text-style_callout-header {
  border-bottom: 2px solid $primary-button-color;
  @include text-style_page-subheader;
}

@mixin text-style_callout-subheader {
  font-weight: $font-weight-normal;
  font-size: 1em;
  border: none;
}

@mixin text-style_callout-body {
  font-size: 1.2em;
}

@mixin text-style_form-label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: $font-weight-bold;
}

@mixin text-style_form-input {
  font-size: 0.7em;
}

@mixin text-style_form-value {
  font-size: 0.9em;
}

h1 {
  @include text-style_page-header;
}
h2 {
  @include text-style_section-header;
}
h3 {
  @include text-style_section-subheader;
}

body {
  @include text-style_site-default;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: darken($link-color, 15%);
  }
}

.hero {
  color: white;
  h2 {
    @include text-style_page-subheader;
  }
  .powered-by {
    @include text-style_page-aside;
  }
  background: #00bccd url("/assets/images/callout-pink.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  &.melbourne {
    background-image: url("/assets/images/melbourne.jpg");
  }
  &.sydney {
    background-image: url("/assets/images/sydney.jpg");
  }
  &.jozi {
    background-image: url("/assets/images/jozi.jpg");
  }
  &.brisbane {
    background-image: url("/assets/images/brisbane.jpg");
  }
}

section.call-out {
  @include text-style_callout-body;
  h2 {
    @include text-style_callout-header;
  }
  h3 {
    @include text-style_callout-subheader;
  }
  .call-to-action {
      background: lighten($primary-button-color, 41);
      border-radius: 5px;
      .label {
        @include text-style_form-label;
      }
      p {
        @include text-style_form-value;
      }
  }
  @media #{$large-screen} {
    &:before,
    &:after {
      content: '';
    }
  }
}

section.locations {
  h3 {
    @include text-style_table-header;
  }
}
section.agenda {
  .talk {
    &+.talk {
      border-top: 1px solid #ccc;
    }
    img {
      border: 1px solid #c5c5c5;
      border-radius: 100%;
    }
    &.break {
      color: darkgrey;
    }
  }
}

section.testimonials {
  .profile {
    .quote {
      background: #f3f3f3;
      border: 1px solid white;
      border-radius: 5px 0 5px 0;
    }
    .person {
      font-weight: bold;
    }
    small {
      color: #5c5c5c;
    }
    img {
      border: 1px solid #c5c5c5;
      border-radius: 100%;
    }
  }
}
form {
  .form-group {
    .label {
      @include text-style_form-label;
    }
    input,
    select,
    textarea {
      @include text-style_form-input;
    }
    input,
    textarea {
      border: 1px solid $input-border-color;
      border-radius: 3px;
      font-weight: normal;
    }
    select {
      font-weight: normal;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }
  input[type=submit] {
    border: none;
    &:disabled {
      background-color: $disabled-color;
    }
  }
}
.registration {
  .register-button {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    &:hover {
      color: white;
    }
    & + p {
      font-size: 0.8rem;
    }
  }
}

ul.event-list {
  list-style: none;
}

.border-line {
  border: 3px $border-line-colour solid;
  max-width: 600px;
  @media #{$phone-screen} {
    width: 100%;
  }
}
.border-line.secondary {
  border-color: $border-secondary-line-colour;
}

.button {
  font-weight: normal;
  border: 0;
  border-radius: 5px;
  background-color: $primary-button-color;
  box-shadow: inset 0 -5px 0 rgba(0,0,0,0.1);
  color: white;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background-color: lighten($primary-button-color, 10%);
  }
}
.info-button {
  background-color: $info-button-color;
  &:hover {
    background-color: lighten($info-button-color, 10%);
  }
}
