$screen-small: 360px;
$screen-medium: 768px;
$screen-large: 960px;

$primary-button-color: #f61f62;
$info-button-color: #6dbb6f;
$input-border-color: #ddd;
$link-color: #f61f62;
$disabled-color: #B6B6B6;

$phone-screen: "only screen and (max-width: #{$screen-small})";
$pad-screen: "only screen and (max-width: #{$screen-medium})";
$large-screen: "only screen and (min-width: #{$screen-large})";

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$navbar-height: 80px;

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: darken($link-color, 15%);
  }
}

h2 {
  font-size: 2em;
  font-weight: 300;
}

section, footer, header {
  padding: 20px 0;
  text-align: center;
  width: 100%;
  max-width: $screen-large;
  margin: 0 auto;
}

footer {
  padding: 0;
  .mascot {
    margin-bottom: 50px;
    max-width: 200px;
  }

  .social-links {
    margin: 15px auto;
    padding-bottom: 30px;

    a {
      padding: 0 15px;
    }
  }
  .tw {
    max-width: 200px;
    margin-bottom: 45px;
  }
}


.border-line {
  border: 4px #f61f62 solid;
  margin: 30px auto 35px auto;
  max-width: 400px;

  @media #{$phone-screen} {
    width: 100%;
    margin: 30px 0;
  }
}

.title {
  h1 {
    margin-bottom: 0
  }
  h2 {
    margin-top: 0
  }
}

.clearfix {
  clear: both;
}

.hide {
  display: none;
}

.button {
  display: inline-block;
  font-weight: normal;
  padding: 0.55em 1.5em;
  padding-bottom: 0.75em;
  border: 0;
  border-radius: 5px;
  background-color: $primary-button-color;
  box-shadow: inset 0 -5px 0 rgba(0,0,0,0.1);
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    background-color: lighten($primary-button-color, 10%);
  }
}

.info-button {
  background-color: $info-button-color;

  &:hover {
    background-color: lighten($info-button-color, 10%);
  }
}

#hero {
  max-width: 100%;
  padding: 40px 10px;
  background: #00bccd url('/assets/images/callout-pink.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  h1.boom {
    color: white;
    font-size: 4em;
    letter-spacing: -0.07em;
    line-height: 1em;
    &.tagline {
      font-size: 2.5em;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    @media #{$phone-screen} {
      font-size: 2em;
    }
  }
  #get-updates {
    h3 {
      font-size: 1.5em;
      font-weight: 300;
      color: white;
    }

    .details {
      @media #{$phone-screen} {
        padding: 10px;
        width: 100%;
      }

      .sign-up {
        top: -2px;
        position: relative;
      }
    }
  }

  &.melbourne {
    background-image: url('/assets/images/melbourne.jpg');
  }
  &.sydney {
    background-image: url('/assets/images/sydney.jpg');
  }
  &.jozi {
    background-image: url('/assets/images/jozi.jpg');
  }
  &.brisbane {
    background-image: url('/assets/images/brisbane.jpg');
  }

  p {
    color: white;
    font-size: 1.2em;
    max-width: $screen-medium;
    margin: 60px auto;
  }
  .powered-by {
    color: white;
    margin: 0 0 10px 0;
    font-weight: normal;
  }
}


section#call-out {
  padding: 30px 40px 0 40px;
  border-bottom: 1px solid #ccc;
  .outcome {
    text-align: left;
    p {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
    h2 {
      border-bottom: 2px solid $primary-button-color;
      padding: 40px 0 20px;
      margin: 0;
    }
    > ul {
      list-style-type: none;
      padding: 30px 0 30px 24px;
      margin: 0;
      position: relative;
      li {
        padding-bottom: 14px;
        &:before {
          content: '\f197';
          display: block;
          position: absolute;
          left: 0;
          font-family: FontAwesome;
          color: $primary-button-color;
          font-size: 0.8rem;
          padding-top: 5px;
        }
      }
    }
  }
  .call-to-action {
    background: lighten($primary-button-color, 41);
    border-radius: 5px;
    padding: 20px 15px 25px 15px;
    text-align: left;
    margin: 0 -15px;
    .group {
      .label {
        text-transform: uppercase;
        font-size: 0.8rem;
        color: lighten(black, 40);
        > i {
          padding-right: 2px;
        }
      }
      p {
        padding-top: 0;
        margin-top: 0;
        font-size: 1.2rem;
        padding-left: 15px;
      }
    }
    .button {
      width: 100%;
      font-size: 1.2rem;
      &:hover {
        color: white;
      }
    }
    .button + p {
      text-align: center;
      margin: 8px 0 0 0;
      font-size: 0.8rem;
    }

  }
  @media #{$large-screen} {
    padding-bottom: 100px;
    &:before, &:after {
      clear: both;
      content: '';
      display: table;
    }
    .call-to-action {
      width: 40%;
      float: right;
      margin: 0 0 0 4%;
      padding: 30px;
    }
    .outcome {
      width: 56%;
      float: right;
      margin: 0;
      h2 {
        text-align: left;
        padding-left: 0;
        margin: 0;
      }
    }

  }


}



section#about {
  margin: 0;
  max-width: 100%;
  padding: 40px;
  width: 100%;

  .about-content {
    max-width: $screen-medium;
    margin: 0 auto;
  }

  p {
    line-height: 1.6em;
    font-weight: normal;
    font-size: 1.2em;
    margin-bottom: 55px;
  }
}

section#photos {
  img {
    float: left;
    margin: 0 1.5% 3% 1.5%;
    overflow: hidden;
  }

  img.small {
    margin-left: 0;
    width: 31%;
    float: right;
  }

  img.large {
    margin-right: 0;
    width: 63%;
  }
}

section#previous-events {
  .location {
    padding: 30px 0 20px 0;
    border-bottom: 1px solid #ccc;

    &.last {
      padding-bottom: 40px;
      margin-bottom: 40px;
    }
    .left, .right {
      display: inline-block;
      width: 30%;
      vertical-align: top;
      @media #{$pad-screen} {
        width: 100%;
      }
    }

    .right {
      width: 60%;
      text-align: left;
      @media #{$pad-screen} {
        text-align: center;
        padding-top: 20px;
      }
    }

    .title, h2 {
      margin: 0;
      margin-bottom: 5px;
      padding-bottom: 0;
    }

    .event {
      margin-bottom: 20px;
    }

    h3 {
      font-weight: normal;
    }
  }
}

section#events {
  .event {
    border-left: 1px solid #c5c5c5;
    box-sizing: border-box;
    display: inline-block;
    margin: 30px 0;
    width: $pad-screen / 3;
    padding: 0 30px;

    &:nth-of-type(1) {
      border-left: none;
    }

    .location, .name {
      margin: 0;
    }

    .location {
      font-size: 1.6em;
      font-weight: 300;
    }

    .name {
      font-size: 1.2em;
      font-weight: 300;
      color: #333;
    }

    .register {
      padding-top: 20px;
      padding-bottom: 20px;

    }

    .date {
      font-size: 1em;
      font-style: italic;
    }

    .apply {
      color: white;
    }

    .finished {
      background-color: $disabled-color;
    }

    @media #{$pad-screen} {
      width: 100%;
      float: none;
      border-left: none;
    }
  }

  .current-event {
    h2 {
      padding-top: 40px;
    }
    .event {
      &:nth-of-type(2) {
        border-left: none;
      }
      .date {
        padding-top: 15px;
      }
    }
  }

  .earth-line {
    max-width: 500px;

    @media #{$phone-screen} {
      display: none;
    }

    @media #{$pad-screen} {
      width: 100%;
    }
  }
}

section#testimonials {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  width: 100%;

  .profile {
    display: inline-block;
    text-align: center;
    width: 30%;

    @media #{$pad-screen} {
      width: 100%;
      display: block;
      margin-bottom: 35px;
    }

    .quote {
      background: #f3f3f3;
      border: 1px solid white;
      border-radius: 5px 0 5px 0;
      padding: 14px 10px;
      margin: 0 auto;
      text-align: center;
      width: 80%;
    }

    .person {
      font-weight: bold;
      margin-top: 10px;
    }

    small {
      color: #5c5c5c;
      display: inline-block;
      padding-top: 10px;
    }

    img {
      border: 1px solid #c5c5c5;
      border-radius: 100%;
      margin-top: 15px;
      width: 120px;
    }
  }
}


#wide {
  width: 380px;
  padding-top: 15px;
}

.no-wrap {
  white-space: nowrap;
}

form {
  .form-group {

    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;

    label {
      font-size: 1.1em;
      margin-right: 20px;
      text-align: left;
      flex: 1 1 10%;

    }

    input, select, textarea {
      font-size: 1em;
    }

    input, textarea {
      flex: 1 1 auto;
      padding: 9px;
      border: 1px solid $input-border-color;
      border-radius: 3px;
      font-weight: normal;

      @media #{$phone-screen} {
        max-width: none;
      }

    }

  }



  input[type=checkbox] {
    width: 30px;
  }



  input[type=submit] {

    flex: none;
    width: 200px;
    max-width: 340px;
    padding: 0.55em 1.5em;
    padding-bottom: 0.75em;
    border: none;
    &:disabled {
      background-color: $disabled-color;
    }
  }


  select {
    height: 34px;
    padding: 6px 12px;
    font-weight: normal;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
  }

  .button {
    font-size: 1.2em;
    margin: 15px auto;

    @media #{$phone-screen} {
      width: 100%;
      margin-top: 25px;
    }
  }
}

  #register {
    max-width: $screen-medium;

    .description {
      margin: 30px auto;
      line-height: 1.5em;
    }
  }


section#reading-list {
  .location {
    padding: 30px 0 20px 0;
    border-bottom: 1px solid #ccc;

    &.last {
      padding-bottom: 40px;
      margin-bottom: 40px;
    }
    .left, .right {
      display: inline-block;
      width: 30%;
      vertical-align: top;
      @media #{$pad-screen} {
        width: 100%;
      }
    }

    .right {
      width: 60%;
      text-align: left;
      @media #{$pad-screen} {
        text-align: center;
        padding-top: 20px;
      }
    }

    .title, h2 {
      margin: 0;
      margin-bottom: 5px;
      padding-bottom: 0;
    }

    .event {
      margin-bottom: 20px;
    }

    h3 {
      font-size: 1em;
      font-weight: normal;
    }
  }
}


section#schedule {
  .talk {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;

    &.last {
      padding-bottom: 40px;
      margin-bottom: 40px;
    }

    .left, .right {
      display: inline-block;
      width: 30%;
      vertical-align: top;
    }

    .right {
      width: 60%;
      text-align: left;
    }

    img {
      border: 1px solid #c5c5c5;
      border-radius: 100%;
      margin-top: 15px;
      height: 100px;
      width: auto;
    }

    .title, .presenter {
      margin: 0;
      padding: 0;
    }

    .presenter {
      font-weight: normal;
      margin-bottom: 15px;
    }

    &.break {
      color: darkgrey;
    }
  }
}

section#faq {
  // padding: 0px 40px 0px 40px;

  max-width: $screen-medium;
  .events {
    text-align: left;
  }
  .questions {
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
    .question {
      padding-bottom: 5px;
      font-weight: bold;
      font-size: 1em;
    }

    .answer {
      margin-bottom: 30px;
    }
  }
}

.dev-checklist {
  padding-left: 40px;
}

#developer-questions {
  padding-left: 40px;
  padding-left: 40px;
}

section#talk {
  .talk {
    margin-left: auto;
    margin-right: auto;
    width: 710px;
    text-align: left;

    .speakerdeck {
      background:transparent url('/assets/images/loading.gif') center center no-repeat;

    }

    .date {
      color: darkgrey;
      padding-left: 5px;
      font-weight: normal;
    }

  }

}

.full-width-label {
  width: 100%;
}

.custom-input {
  position: relative;
  top: -12px;
}
