---
layout: default
---
%section#hero.brisbane
  %h1.boom
    Brisbane LevelUp
    .fa.fa-rocket
    .light
      / %em Beyond Graduation

#registration

  %section#about
    .about-content
      %h3
        Starting 11th March 2015 at
        %a{href: "https://www.google.com.au/maps/place/ThoughtWorks+Brisbane/@-27.465824,153.02759,17z/data=!3m1!4b1!4m2!3m1!1s0x6b915a1d39376e4b:0xe3e3929e074caf21"} ThoughtWorks Brisbane

      %p.description
        University students graduate every year and enter the workforce often unprepared or unsure of what they'll encounter in the workplace. Starting 11th March 2015 ThoughtWorks is changing that. We are bringing together passionate students that love software development with professional technical visionaries and engineers to explore the future together.

  %section#faq
    %h2 Event Information

    .border-line

    .questions
      .question
        What am I going to learn?
      .answer
        This five week interactive workshop is designed to help you bridge the gap between university and your first full time job. You will learn about Agile software development and we will instill a curiosity in you around useful concepts like continuous delivery, test automation, pairing, test-driven development, retrospectives and more.

      .question
        How?
      .answer
        Having lots of fun! Working professionals are fully immersed in this five week interactive workshop teaching concepts we think you should know through hands-on activities, interactive sessions, discussions, games and more.

      .question
        When is it?
      .answer
        Starting March 2015 we will be running a series of workshops from 6pm on the following evenings.

        %ul
          %li Wednesday 11th March
          %li Wednesday 18th March
          %li Wednesday 25th March
          %li Wednesday 1st April
          %li Easter break, no session this evening 8th April
          %li Wednesday 15th April

      .question
        What do I need to bring?
      .answer
        Nothing! Food and drinks will be provided.

      .question
        Am I guaranteed a spot if I register?
      .answer
        Whilst the LevelUp team would love to accept everyone, to keep this awesome experience free for you, places are limited as our physical location is our constraining factor!

  %section#register
    %h2 Sign Up
    .border-line

    %form#sign-up{action: "http://thoughtworks.us7.list-manage.com/subscribe/post?u=e01f405fabad2dd5617122558&amp;id=39ae34960b", method: "post", name: "mc-embedded-subscribe-form"}
      .form-group
        %label First Name
        %input{name: "FNAME", placeholder: "Your Name"}

      .form-group
        %label Last Name
        %input{name: "LNAME", placeholder: "Your Surname"}

      .form-group
        %label Email
        %input{name: "EMAIL", placeholder: "Your Email"}

      .form-group
        %input.button{type: "submit", value: "Register"}

  -# Remove this comment once agenda is finalised
    %section#schedule
      %h2 Day Agenda

      .border-line
      .talk
        .left
          .time 9.00AM
          %img{src: "../../assets/images/breakfast.jpg"}
        .right
          %h3.title Breakfast and mingling
          %h4.presenter
          .description
            Start the day off with a tasty breakfast, and getting to know your fellow LevelUp'ers.

      .talk
        .left
          .time 9:30AM
          %img{src: "../../assets/images/overview.jpg"}
        .right
          %h3.title Real Project Example: Domino's HTML5 in Brisbane.
          %h4.presenter Mark Ryall
          .description
            Let's cut right to the chase and hear about a real project from start to finish. Domino's HTML5 project is one of Brisbane's biggest IT project last year - wildly successful, of course. See what drama awaits!

      .talk
        .left
          .time 10:00AM
          %img{src: "../../assets/images/lego.jpg"}
        .right
          %h3.title The Lego Game
          %h4.presenter
          .description
            The Lego Game is a game designed to give you a taste of the Agile software development process. ThoughtWorks actually uses this game with clients to set the context around working in an Agile team.

      .talk
        .left
          .time 11:30AM
          %img{src: "../../assets/images/agile.jpg"}
        .right
          %h3.title Lighting Talk First Half
          %h4.presenter Henry Lawson, Hugo Firth, Claudia Ferreira
          .description
            Get in on the basic knowledge up close with the people in the industry. Split into 3 small groups to rotate between the 3 booths, 20 minutes each. Perfect opportunity to ask questions!
          %ul.description
            %li Henry on "Agile 101 with Business Analyst"
            %li Hugo on "Functional Programming"
            %li Claudia on "Working in different environments... from Heaven to Hell"

      .talk
        .left
          .time 12.30AM
          %img{src: "../../assets/images/lunch.jpg"}
        .right
          %h3.title Lunch and mingling
          %h4.presenter
          .description
            Lunch will be provided! Also a good time to have a "cold one" before jumping back in.

      .talk
        .left
          .time 1.20PM
          %img{src: "../../assets/images/inception.png"}
        .right
          %h3.title Lighting Talk Second Half
          %h4.presenter Sarbashrestha Panda, Eru Penkman, Leonor Salazar & Brian Mason
          .description
            Second Half for the Lighting Talk session! Split into 3 new groups to rotate between the 3 booths, 20 minutes each.
          %ul.description
            %li Panda on "The Way of the Consultant"
            %li Eru on "UI Dev. What and Why?"
            %li Leo and Brian on "What they didn't tell you about Testing!"

      .talk
        .left
          .time 2.20PM
          %img{src: "../../assets/images/usertesting.jpg"}
        .right
          %h3.title Hands On Session! User Testing what you Build
          %h4.presenter Pete Chemsripong & the Deadly User Squad
          .description
            To give the people what they want, you need to ask the people. Duh. User testing is good for the business, good for the user, and good for you - the people who are making the product! Let us show you how.

      .talk
        .left
          .time 3.00PM
          %img{src: "../../assets/images/presentations.jpg"}
        .right
          %h3.title Hands On Session! TDD - from woe to go in 10 minutes
          %h4.presenter Steve Morris
          .description
            A lot of people mistakenly think that the tooling required for TDD is too difficult and scary to setup.  This session aims to show you just how quickly you can setup your environment and get writing those tests!  Additionally, we'll use a popular "kata" to help emphasise what TDD "feels" like to a developer.

      .talk.last
        .left
          .time Rest of the evening
          %img{src: "../../assets/images/socializing.jpg"}
        .right
          %h3.title To the pub!
          %h4.presenter
          .description
            Socializing and drinks!



    .clearfix

