---
layout: default
---

#registration

  %section#about
    .about-content
      .title
        %h1.boom Melbourne LevelUp 2.0

      %h3
        22nd March 2014 at
        %a{href: "http://www.thoughtworks.com/contact-us"} ThoughtWorks Melbourne

      %p.description
        Over 8 weeks, you'll deliver a project from start to finish, guided by a team of ThoughtWorks consultants. We'll teach you everything you need to know along the way, from Agile planning and design to writing and testing your own code. You won't just walk away with working software for your portfolio - you'll have knowledge, skills and experience to hit the ground running in the workplace.

  %section#faq
    %h2 Course Information

    .border-line

    .questions
      .question
        What am I going to learn?
      .answer
        This course is designed to bridge the gap between university and your first full time job.
        You'll experience real world 
        %a{:href => "http://en.wikipedia.org/wiki/Agile_software_development"} Agile software development
        first-hand. You'll learn all about inceptions, standups, story writing, continuous delivery, test automation, pairing, test-driven development, retrospectives and more.

      .question
        How?

      .answer
        When you start the course you will meet your team and product owner. From then on you will work with your team to deliver working software. The LevelUp team will offer guidance and hands-on support to help you get your product across the line. Make no mistake though, it's you who will be getting the job done!

      .question
        When is it?
      .answer
        The kickoff day is on Saturday the 22nd of March and filled with games, workshops and group work. Then we meet weekly from the 26th of March, every 
        %strong Wednesday night 
        from 6pm till 9pm, for 8 weeks (excluding Easter). There's a special day set aside on Saturday the 24th of May for your team's final showcase and the graduation ceremony.

      .question
        What are the different roles?
      .answer
        Everyone is going to be involved in design, taking ownership, overall quality. You will have to collaborate on 
        %strong all 
        aspects of the project to ensure kick-ass software!

        %ul#selector
          %li Business analysts - work closely with product owners to capture requirements and figure out the details.
          %li Developers - will build the software.
          %li Testers - help ensure the overall quality of the product, and provide feedback to developers and business analysts.
          %li Experience Designers - champion the end-to-end experience of using the product, and broadly coaches the team's design decisions.

      .question
        What happens when I pick a role - am I stuck with it?
      .answer
        In order to ensure balanced teams, we need people to stick with their role. However, because this is an agile team, just because you're a developer doesn't mean you'll be writing code all the time.

      .question
        What do I need to bring?
      .answer
        Developers 
        %strong must
        bring their own laptop. Food and drinks will be provided. If you're not a developer, a laptop is useful but not essential.

      .question Am I guaranteed a spot if I register?
      .answer To make this the best experience we can we need cross functional teams with the right combination of people in each role (developer, business analyst and tester). Whilst the LevelUp team would love to accept everyone, places are limited.

  %section#register
    %h2 Sign Up
    .border-line

    %form#sign-up{action: "http://thoughtworks.us7.list-manage.com/subscribe/post?u=e01f405fabad2dd5617122558&amp;id=a314b2ac3c", method: "post", name: "mc-embedded-subscribe-form"}
      .form-group
        %label First Name
        %input{name: "FNAME"}

      .form-group
        %label Last Name
        %input{name: "LNAME"}

      .form-group
        %label Email
        %input{name: "EMAIL"}

      .form-group
        %label What role interests you the most?
        %select#role{name: "ROLE"}
          %option{value: "Business Analyst"} Business Analyst
          %option{value: "Developer"} Developer
          %option{value: "Tester"} Tester
          %option{value: "Experience Designer"} Experience Designer
          %option{value: "Not sure"} Not sure

      .form-group
        %label How did you hear about LevelUp?
        %input{name: "REFERENCE", placeholder: "Friends, uni, other"}

      .form-group
        %input.button{type: "submit", value: "Register"}

    .clearfix

:javascript
  $("#role").change(function(){
    if($("#role option:selected").text() === 'Developer'){
      $("#developer-questions").show();
    } else{
      $("#developer-questions").hide();
    }
  });

