---
layout: default
---
<section id="hero" class="{{ page.city }}">
  <h1 class="boom">
    {{ page.city }}
  </h1>
</section>

<section class="events">
  <div class="event-container">
    <h2>Upcoming Events</h2>
    <div class="border-line"></div>
    <ul class="event-list">
      {% assign sorted_pages = site.pages | sort: 'date' %}
      {% for event in sorted_pages reversed %}
        {% if event.layout == "event" and event.city == page.city %}
          <li>
            {% include event_detail.html event=event %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>

<section id="city-information">
  <h2>Previous {{ page.city }} Events</h2>
  <div class="border-line"></div>
  {{ content }}
</section>
