!!!
%html{lang: "en"}
  %head
    %title LevelUp
    %link{rel: "stylesheet", type: "text/css", href: "/assets/css/style.css"}
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,700,300", rel: "stylesheet", type: "text/css"}
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel: "stylesheet"}
    %link{rel: "icon", type: "image/ico", href: "/assets/images/favicon.ico"}
    %script{:type => "text/javascript", :src  => "/assets/scripts/jquery-2.1.0.min.js"}
    %meta{name: "description", content: ""}
    %meta{:charset => "utf-8"}
    %meta{:name => 'viewport', :content => 'width=device-width'}
    %meta{:name => 'google-site-verification', :content => 'JfULntk-IIjEWdxvJDrNSghNUYUakzA6jiRt4tQYCZA'}

  %body
    -# Skip links are for keyboard only users to quickly navigate past headers/navigation.
    -# Users also return to them if they get lost on the page, so they need to be the first tabable
    -# element in the DOM
    %a.skip-link{:href => '#content'} Skip to Main Content
    %noscript
      %iframe{src: "//www.googletagmanager.com/ns.html?id=GTM-P97X8B", height: "0", width: "0", style: "display:none;visibility:hidden" }
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-P97X8B');

    -# Added #content div so that skip link can help keyboard only users navigate to
    -#  the important information
    #content
      {{ content }}

    .border-line
    %footer
      %p
        Stay connected with
        %strong LevelUp
      .social-links
        %a{href: "https://twitter.com/TW_LevelUp"}
          .fa.fa-twitter
          Twitter
        %a{href: "https://www.facebook.com/ThoughtworksLevelUp"}
          .fa.fa-facebook
          Facebook
      %p
        Are you passionate about world-changing software?

        %a{href: 'http://www.thoughtworks.com/join'} We're hiring.

      %div
        %a{href: "https://www.thoughtworks.com"}
          %img.tw{src: '/assets/images/tw-logo.png', alt: "ThoughtWorks logo"}
