---
layout: default
---

<section id="hero" class="{{ page.city }}">
  <h1 class="boom">
    {{ page.event }}
    <div class="fa fa-rocket"></div>
    <div class="light">
      <em>{{ page.title }}</em>
    </div>
  </h1>
</section>
<div id="event">
  <section id="call-out">
    <div class="call-to-action">
      {% if page.key-dates %}
        {% for item in page.key-dates %}
          <div class="group">
            <div class="label"><i class="fa fa-clock-o"></i>{{ item.name }}</div>
            <p>{{ item.value }}</p>
          </div>
        {% endfor %}
      {% endif %}
      <div class="group">
        <div class="label"><i class="fa fa-map-marker"></i>Location</div>
        <p><a href="http://www.thoughtworks.com/contact-us">ThoughtWorks {{ page.city }}</a></p>
      </div>
      {% if page.registration %}
        {% include register.html open=page.registration.open %}
      {% endif %}
    </div>
    <div class="outcome">
      <h2>What's it all about?</h2>
      <p class="description">
        {% if page.description %}
          {{ page.description }}
        {% else %}
          {{ site.data.cities[page.city].course.description}}
        {% endif %}
      </p>
    </div>
  </section>

    <section class="body-content">
    <h2>Course information</h2>
    <div class="border-line"></div>
    {{ content }}
  </section>

  {% if page.schedule %}
    {% include agenda.html agenda=page.schedule %}
  {% endif %}

</div>
