---
layout: default
registration-url: http://thoughtworks.us7.list-manage.com/subscribe/post?u=e01f405fabad2dd5617122558&amp;id=f7f8e45351
---
<section id="hero" class="{{ page.city }}">
  <img src="/assets/images/levelup-logo-web-orangered-white.png"></img>
  <h1 class="boom tag-line">
    Bridging the gap between university and the workplace
  </h1>
  <p>
    LevelUp is a series of classes, workshops and conferences for students
    who want to add to their classroom learning with real-world experience.
    Topics range from test-driven development, continuous delivery and pair
    programming to Agile project management, business analysis and how
    employers hire grads.
  </p>
  <p>
    LevelUp is a not-for-profit initiative, run by ThoughtWorks volunteers
    and industry professionals.
  </p>
  <p>
    LevelUp Express conferences are single day events. </br>
    LevelUp Build courses run 6 to 9 weeks.
  </p>
  <h6>
    Powered-by <img src="/assets/images/tw-logo-white.png" width: "125"></img>
  </h6>
</section>

<section class="events">
  <div class="event-container">
    <h2>Upcoming Events</h2>
    <div class="border-line"></div>
    <ul class="event-list">
      {% assign sorted_pages = site.pages | sort: 'date' %}
      {% for event in sorted_pages reversed %}
        {% if event.layout == "event" and event.active %}
          <li>
            {% include event_detail.html location=true event=event %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>

<section id="locations">
  <h2>Regions</h2>
  <div class="border-line"></div>
  <div class="location-list">
    {% for location in page.locations %}
      <div class="location">
        <h4 class="title">{{ location }}</h4>
        <div class="register">
          <a href="/{{ location }}/">Learn More</a>
        </div>
      </div>
    {% endfor %}
    <p> If you could not find your city in the list, please contact your
      <a href= "http://www.thoughtworks.com/contact-us">local office</a>
      for more information.
    </p>
  </div>
</section>



<section id="register">
  <form id="get-updates" action="{{page.registration-url}}" method="post" name="mc-embedded-subscribe-form">
    <h3>Register and be the first to hear about upcoming LevelUp events</h3>
    <div class="form-group">
      <input class="email" type="email" name="EMAIL" placeholder="Email Address"></input>
      <select>
        {% for location in page.locations %}
            <option> {{ location }} </option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <input class="sign-up button" type="submit" value="Sign Up"></input>
    </div>
  </form>
</section>


<section class="body-content">
  <h2>Frequently Asked Questions</h2>
  <div class="border-line"></div>
  {{ content }}
</section>
<section id="testimonials">
  <h2>What Our Students Have to Say</h2>
  <div class="border-line"></div>
  <div class="profile">
    <div class="quote">
      "Love how the program is relaxed and not too corporate or formal. The
      practical activities were really good for explaining concepts."
    </div>
    <div class="person">
      James
    </div>
    <img src="./assets/images/man.jpg"></img>
  </div>
  <div class="profile">
    <div class="quote">
      "I came into LevelUp having done a lot of programming but no experience
      with delivering software. I'd heard of Agile, but had no idea what it
      involved. After completing the first LevelUp, an interviewer told me I'd
      given a better run-down of Agile methodologies than developers who'd
      spent ten years doing it."
    </div>
    <div class="person">
      Max
    </div>
    <img src="./assets/images/max.jpg"></img>
  </div>
</section>
<section id="photos">
  <h2>Real Experience</h2>
  <div class="border-line"></div>
  <img class="large" src="./assets/photos/9.jpg"></img>
  <img class="small" src="./assets/photos/3.jpg"></img>
  <img class="small" src="./assets/photos/4.jpg"></img>
  <img class="large" src="./assets/photos/7.jpg"></img>
  <img class="small" src="./assets/photos/10.jpg"></img>
  <img class="small" src="./assets/photos/5.jpg"></img>
  <img class="small" src="./assets/photos/2.jpg"></img>
  <img class="large" src="./assets/photos/8.jpg"></img>
  <img class="small" src="./assets/photos/6.jpg"></img>
  <img class="small" src="./assets/photos/1.jpg"></img>
  <div class="clearfix"></div>
</section>
