---
layout: default
---
%section#hero.sydney
  %h1.boom
    Sydney LevelUp Information Night
    .fa.fa-rocket
    .light
      %em Tuesday 17th March 2015

#registration

  -#
    %section#about
      .about-content

        %h3
          17th March 2015 @ 6pm at
          %a{href: "http://www.thoughtworks.com/contact-us"} ThoughtWorks Sydney
        %h3 Level 8, 51 Pitt Street, Sydney NSW 2000

        %p.description
          LevelUp is a series of classes, workshops and conferences for students who want to add real-world experience to their classroom learning. If this sounds interesting to you, we would love to meet you at our LevelUp Information Night on Tuesday 17th March 2015 @ 6pm, snacks will be provided. We will give an overview of the LevelUp program and answer any questions you may have. On the night you will also be able to register your interest for the next LevelUp course.
        %p.description
          The session will run for approximately one and a half hours.
  %section#faq
    -#%h2 General Information
    -#.border-line
    .questions
      .question
        When is it?
      .answer
        6 p.m. Tuesday the 17th of March. The session will run for approximately 2 hours.
      .question
        Where is it?
      .answer
        Level 8, 51 Pitt Street, Sydney NSW 2000
      .question
        Why should I attend?
      .answer
        If you've ever wondered what it's like to be part of LevelUp this is your chance to find out.
        %p
          During the evening you'll get a chance to meet the organisers, learn about the history of LevelUp and get an overview of the next course. You'll be able to register for a place on the full course at the end of the night.
        %p
          Drinks and snacks will be provided.
  -#
    %section#register
      %h2 Register Your Interest
      .border-line
      %h3 Registrations close 5pm on Tuesday 3rd March 2015.
      .register
        %a.apply.apply.button{href: "https://docs.google.com/forms/d/1Tc34tOi13GSlKM25LifmSSvLtigODk1_gDbkjeRTfLo/viewform"} Register
